---
import Layout from '../layouts/Layout.astro';
import Dalle from '../components/Dalle.svelte';
const token = import.meta.env.TOKEN;
---

<Layout title="Image">
	<div class="mt-4">
    <Dalle token={token} client:load />
	</div>
</Layout>


